.movie_list {
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.spinner{
    text-align: center;
    margin: auto;
}
.pagination{
    text-align: center;
    margin: auto;
}