.movie{
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

.movie__info {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.movie__title {
    color: white;
}

.movie__wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    overflow: hidden;
    
}

.movie__images{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.movie__image{
    max-width: 100%;
    padding-right: 10px;
}


.movie__btn-back{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.movie__cast{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.movie__actor{
    max-width: 100px;
    height: 290px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movie__actor img {
    max-width: 100%;
}

.actor__name {
    margin-bottom: 0px;
}

.movie__addFav{
    width: 150px;
    height: 50px;
    margin-top: 10px;
}


.movie__review-wrapper{
    color: #fff;
}

.movie__review-author{
    color: #fff;
}

.review{
    height: 80px;
    max-width: 1000px;
    overflow: hidden;
    margin-bottom: 10px;
}

.review.full {
height: auto;
overflow: visible;
}