.nav{
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    font-size: 30px;
}

.nav__list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    max-width: 300px;
}